* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --navbar-bg-color: #333;
  --navbar-font-color: #999;
}
.name-box {
  width: 250px;
  height: 42px;
  text-align: center;
  font: 500;
  margin: 15px 10px;
  text-transform: uppercase;
  color: var(--navbar-font-color);
}
.name-box:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: underline;
  color: var(--navbar-font-color);
  transition: all 0.3s ease-in var(--navbar-font-color);
}
#navbar {
  height: 72px;
  width: 100%;
  display: flex;
  background-color: var(--navbar-bg-color);
}
ul {
  list-style-type: none;
}
li,
a {
  display: inline;
  color: var(--navbar-font-color);
  text-decoration: none;
  padding: 10px 10px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font: bold;
}
a:hover {
  animation: animated-line 1s ease-in-out;
}
@keyframes animated-line {
  from {
    text-decoration: underline var(--navbar-font-color);
    transform: translateX(0);
  }
  to {
    text-decoration: underline var(--navbar-font-color);
    transform: translateX(2px);
  }
}
