* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
:root {
  --navbar-bg-color: #333;
  --navbar-font-color: #999;
}
.name-box {
  width: 250px;
  height: 42px;
}
.name-name {
  font-size: 25px;
  margin-top: 20px;
  margin-left: 5px;
  text-transform: uppercase;
  color: var(--navbar-font-color);
}

#navbar {
  height: 72px;
  width: 100%;
  display: flex;
  background-color: var(--navbar-bg-color);
  position: sticky;
}
ul {
  list-style-type: none;
}
li,
a {
  display: inline;
  color: var(--navbar-font-color);
  text-decoration: none;
  padding: 10px 10px;
  float: left;

  font-size: 18px;
  font: bold;
}
#image-container {
  height: 800px;
  width: 100%;
  background-image: url(images/main.jpg);
  opacity: 55%;
  animation: animated 0.3s ease-in-out;
  position: relative;
}
.name-container {
  height: 80px;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 75px;
  text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
}
.motive {
  height: 50px;
  width: 100%;
  text-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
  color: #fff;
  font-size: 25px;
  margin: 50px 50px;
}
.role-container {
  height: 25%;
  width: 100%;
  color: #fff;
  margin-top: 100px;
  margin-left: 50px;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}
@keyframes animated {
  from {
    transform: translateY(800px);
    transform: translateX(100%);
    background-image: url(images/main.jpg);
  }
  to {
    transform: translateY(0px);
    transform: translateX(0%);
    background-image: url(images/main.jpg);
  }
}
.main-section {
  width: 100%;
  height: 500px;
}
#about-container {
  float: left;
  height: 400px;
  width: 400px;
  margin: 50px;
}

.download-cv {
  border: 2px solid var(--navbar-font-color);
  margin: 20px 20px;
  cursor: pointer;
  color: var(--navbar-bg-color);
}
.about-name {
  color: var(--navbar-bg-color);
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.about-content {
  margin: 10px 15px;
  font-size: 1em;
}
.image-container-two {
  background-image: url(images/second.jpg);
  width: 400px;
  height: 400px;
  float: right;
  background-size: cover;
  padding: 10px 20px;
}
#Experience {
  width: 100%;
  height: 400px;
  background-color: #333;
}
#Experience:hover {
  background-image: url(images/experience.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: top;
  cursor: pointer;
}
.company-name {
  text-transform: uppercase;
  text-align: center;
}
.role-in-company,
.year-working {
  text-align: center;
}
.role-in-company-content {
  text-align: center;
  font-size: 1em;
}
.skills {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 400px;
  margin-top: 15px;
}
.skill-head {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  text-align: center;
  background-color: #942c2c;
}
.one {
  background-color: #333;
  padding: 10px 20px;
  background-image: url(images/html.png);
  background-size: cover;
  border-radius: 50%;
}
